@import "tailwindcss";
@plugin "tailwindcss-animate";

/* світла тема за замовчуванням */
:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
  --accent: 0 102 204;
}

/* темна тема */
[data-theme="dark"] {
  --background: 17 24 39;
  --foreground: 243 244 246;
  --accent: 0 153 255;
}

@theme {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-accent: rgb(var(--accent));
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  overflow-x: hidden;
}


@layer utilities {
  .before-underline::after {
    content: "";
    position: absolute;
    bottom: -4px; /* відстань від тексту */
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #b91c1c; /* червоний (#b91c1c — Tailwind red-700) */
    border-radius: 9999px;
    transform: scaleX(0.9) rotate(-2deg); /* легкий нахил для ефекту руки */
    transform-origin: left center;
  }
}
